<a href="https://colab.research.google.com/github/ay30n591/BB_Backend/blob/master/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Day6 수열과 구간 쿼리 3

In [1]:
arr = [0,1,2,3,4]
queries = [[0,3],[1,2],[1,4]]

for i in queries:
  arr[i[0]],arr[i[1]]=arr[i[1]],arr[i[0]]

arr

[3, 4, 1, 0, 2]

### Day6 수열과 구간 쿼리 2

In [ ]:
arr =[0, 1, 2, 4, 3]
queries =[[0, 4, 2],[0, 3, 2],[0, 2, 2]]

answer = []
# 리스트 결과 값을 저장할 곳
tmp = []
# 임시로 값을 저장할 곳

for s, e, k in queries:
    tmp = list(filter(lambda x: x > k, sorted(arr[s:e+1])))
    # tmp 리스트 추가 작업으로
    # arr[s:e+1] 기준으로 배열의 일부를 잘라내고
    # 해당 부분 배열을 정렬한 후 k보다 큰 값들을 필터링하여 tmp에 저장
    if len(tmp) > 0:
      # tmp에 어떤 값이 저장되었다면
      answer.append(tmp[0])
      # answer리스트에 첫번째 인자값을 추가
    else:
      answer.append(-1)
      # 그렇지 않으면 -1을 추가

answer

[3, 4, -1]

##Day7 카운트 업

In [ ]:
start = 3
end =10

ilist = [i for i in range(start,end+1)]
print(ilist)

    # result = []
    # for i in range(start,end+1):
    #     result.append(i)
    # return result

[3, 4, 5, 6, 7, 8, 9, 10]

## Day7 콜라츠 수열 만들기

In [ ]:
def solution(n):
    nlist = []

    while n != 1:
        nlist.append(int(n))
        if n % 2 == 0:
            n = n / 2
        else:
            n = n*3+1
    nlist.append(1)

    return nlist

## Day7 수열과 구간 쿼리4

In [ ]:
arr =[0, 1, 2, 4, 3]
queries =[[0, 4, 1],[0, 3, 2],[0, 3, 3]]


for s,e,k in queries:
    for i in range(s,e+1):
        if i % k==0:
            arr[i] += 1
arr

[3, 2, 4, 6, 4]

## Day7 배열 만들기2

In [ ]:
    l=5
    r=555

    an = []

    for i in range(l,r+1):
        if all(j in ['0','5'] for j in str(i)):
          # all 함수는 ture, false 값을 리턴한다.
            an.append(i)

    if len(an) == 0:
        an.append(-1)

an

[5, 50, 55, 500, 505, 550, 555]

## Day7 배열 만들기4

In [ ]:
arr= [1, 4, 2, 5, 3]
stk =[]

while i < len(arr):
    if len(stk) == 0:
      stk.append(arr[i])
      i +=1
    elif stk[-1] < arr[i]:
      stk.append(arr[i])
      i += 1
    else :
      stk.pop()
stk

[]

##Day8 간단한 논리 연산

In [ ]:
def solution(x1, x2, x3, x4):
    return (x1 or x2) and (x3 or x4)

## Day8 주사위 게임 3

In [ ]:
dice_count

[0, 0, 2, 0, 0, 2]

In [ ]:
a=5
b=3
c=3
d=6
dice = [a, b, c, d]
dice_count = [dice.count(i) for i in range(1, 7)]
# abcd 값의 빈도를 나타냄

if max(dice_count) == 4:  # 모두 같은 숫자가 나왔을 때
  p = dice[0]
  score = 1111 * p
elif max(dice_count) == 3:  # 세 숫자가 같을 때
  p = dice_count.index(3) + 1
  # 동일 값이 3개인 값을 찾줌
  q = dice_count.index(1) + 1
  score = (10 * p + q) ** 2
elif max(dice_count) == 2:  # 두 쌍의 숫자가 같을 때
  p = dice_count.index(2) + 1
  q = dice_count.index(1) + 1
  diff = abs(p - q)
  score = (p + q) * diff
elif max(dice_count) == 1:  # 모두 다른 숫자일 때
  score = min(dice)


score

16

In [ ]:
a=2
b=3
c=3
d=1
answer = 0
origin = [a, b, c, d]
arr = list(set(origin))
# origin 리스트의 중복 값을 제거하고 유일한 값들로 이루어진 집합

if len(arr) == 4:
   answer = min(arr)
elif len(arr) == 3:
   p = max(origin, key=origin.count)
   #key는 큰 값을 찾을때 기준을 정해주는 역할을하여
   #리스트 내에서 해당 값의 개수가 가장 많은 것을 추출
   tmp = [num for num in arr if num != p]
   answer = tmp[0] * tmp[1]
elif len(arr) == 2:
    if max([origin.count(num) for num in arr]) > 2:
       p = max(origin, key=origin.count)
       q = min(origin, key=origin.count)
       answer = pow(((10 * p) + q), 2)
       # pow는 제곱을 계산하는 함수
    else:
       answer = ((arr[0] + arr[1]) * abs(arr[0] - arr[1]))
elif len(arr) == 1:
        answer = int(str(arr[0]) * 4)

answer

[1, 2, 3]